<select name="productState">
	<option value="FL"> Florida </option>
	<option value="NY"> New York </option>
	<option value="MA"> Massachussets </option>
	<option value="CA"> California </option>
</select>
