  <div class="container-fluid">
    <div class"container">

      <h1 style="padding-left:70px; margin: auto; margin-top:10px">MEET OUR NEW HEADQUARTERS: 👇</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <img src="/images/planta04 crop.jpg" style="height:471px " alt="">
    </div>

  </div>
  <div class="container-fluid welcome1">
    <div class="container welcome2">

      <img src="/images/planta01.jpg" style="height:600px; position: absolute; z-index=-1" alt="">

    </div>
  </div>


  <div class="container-fluid">
    <div class="container">
      <img src="/images/planta05.jpg" style="height:427px; " alt="">
    </div>

  </div>

  <div class="container-fluid">
    <div class="container">
      <div class="col-sm-6" style=" padding:0px">
        <img src="/images/office01 crop.jpg" style="float:left; padding:0px" alt="">
      </div>
      <div class="col-sm-6">
        <img src="/images/planta06 crop.jpg" style="height:684px" alt="">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container">
      <img src="/images/planta03.jpg" style="height:650px;" alt="">
    </div>

  </div>


  <div class="container-fluid">
    <div class"container">

      <h1 style="padding-left:70px; margin: auto">LOCATED IN CELTA TRADE PARK:</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="col-sm-7" style="padding:0px">
      <img src="/images/celta01.jpg" style="height:471px " alt="">
      </div>
      <div class="col-sm-5" style="padding:0px">
          <img src="/images/celta02.jpg" style="height:471px " alt="">
      </div>
    </div>

  </div>
