<div class='container-fluid'>
  <div class='container'>
    <img src="images/sample2.jpg" height="560" alt="">
  </div>
</div>

<div class='container-fluid whitesmoke'>
  <div class="container">
    <div class="row">
      <div class='col-sm-4'>
          <h2 class="main">ABOUT US</h2>
      </div>
      <div class='col-sm-4'>
          <h2 class="main">PRODUCTS</h2>
      </div>
      <div class='col-sm-4'>
          <h2 class="main">SIGN IN</h2>
      </div>
    </div>
  </div>
</div>


<script src="jquery-3.2.1.js"></script>
