<div class="container-fluid">

  <div class="container-fluid contProducts1" style="border-bottom:5px">
    <div class="container contProducts2">
      <h1 class="textProducts" style="font-size:50px">WELCOME TO THE PO PLATFORM:</h1>
    </div>
    <div class="container contProducts3">
      <div class="col-sm-6 contProducts4a">
          <a href="/products/newR">
          <img src="/images/FBlogo.png" style="height:450px; float: right" alt="">
          </a>
      </div>

      <div class="col-sm-6 contProducts4b">
          <a href="/products/newS">
        <img src="/images/TKlogo.png" style="height:450px;"alt="">
      </a>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class"container">

      <h1 style="padding-left:70px; margin: auto; margin-top:10px">MEET OUR NEW HEADQUARTERS: 👇</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <img src="/images/planta04 crop.jpg" style="height:471px " alt="">
    </div>

  </div>

  <div class="container-fluid">
    <div class="container">
      <img src="/images/planta05.jpg" style="height:427px; " alt="">
    </div>

  </div>

  <div class="container-fluid">
    <div class"container" style="margin-top:10px;">

      <h3 style="padding-left:70px;  margin: auto">TO SEE MORE IMAGES, GO TO THE ABOUT US LINK:</h3>
    </div>
  </div>



<script src="jquery-3.2.1.js"></script>
