<div class="container-fluid">
  <div class="container loggedContainer">
    <img src="/images/planta01.jpg" style="height:600px; position:absolute; z-index:-1"  alt="">
    <div class="row" style="margin-left:auto; margin-top:130px; background-color:white; height:320px">
      <div class='col-sm-5 chooseProduct' style="width:47%">

        <a href="/products/newR">
          <img src="/images/FBlogo.png" style="height:300px; padding-top:15px; padding-left:180px" alt="">
        </a>
      </div>
      <div class='col-sm-5 chooseProduct' style="width:47%">

        <a href="/products/newS">
          <img src="/images/TKlogo.png" style="height:300px; padding-top:15px" alt="">
        </a>
      </div>

    </div>
  </div>


<script src="jquery-3.2.1.js"></script>
