<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">

        <div class="container-fluid">

            <div class="btn-group" role="group" aria-label="...">


              <a href="/" class="btn btn-default">Home</a>
              <a href="/aboutUs" class="btn btn-default">About Us</a>
              <a href="/products" class="btn btn-default">Products</a>

            <% if (typeof currentUser === 'object') { %>
              <a href="/logged" class="btn btn-default">Select</a>
              <a href="/products/newR" class="btn btn-default">New R P.O.</a>
              <a href="/products/newS" class="btn btn-default">New S P.O.</a>

                <a href="#" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>

                <a href="/logout" class="btn btn-default" style="margin-left:15px">Log Out</a>
          <%  } else {  %>
              <a href="/login" class="btn btn-default" style="margin-left:15px">Log In</a>
              <a href="/signup" class="btn btn-default">Sign Up</a>

          <%  }  %>


            </div>

          <!-- <button type="button" class="btn btn-default navbar-btn">Sign in</button> -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="images/long.png" height="20">
            </a>
          </div>
        </div>
      </nav>
    </header>
    <%- body %>


<footer>
  <div class= 'container footer'>

    Made with 💪 by David A.

  </div>
</footer>

    <script src="jquery-3.2.1.js"></script>
  </body>
</html>
