<div class="container-fluid">
  <div class="container">
    <img src="/images/planta01.jpg" height="200" alt="">
    <div class="row">
      <div class='col-sm-5 chooseProduct'>
        <h2>ROLLOS</h2>
      </div>
      <div class='col-sm-5'>
        <h2>LAMINADOS</h2>
      </div>

    </div>
  </div>
</div>
