<div class="container-fluid">
  <div class="container loggedContainer">
    <img src="/images/planta01.jpg" style="height:600px; position:absolute; z-index:-1"  alt="">
    <div class="row" style="margin-left:auto; margin-top:150px; background-color:white">
      <div class='col-sm-5 chooseProduct' style="width:47%">
        <h2>ROLLOS</h2>
      </div>
      <div class='col-sm-5 chooseProduct' style="width:47%">
        <h2>LAMINADOS</h2>
      </div>

    </div>
  </div>
</div>
