<div class="container-fluid contProducts1">
  <div class="container contProducts2">
    <h2 class="textProducts">PLEASE CLICK A PRODUCT CATEGORY TO BEGIN PO PROCESS:</h2>
  </div>
  <div class="container contProducts3">
    <div class="col-sm-6 contProducts4a">
        <a href="/products/newR">
        <img src="/images/FBlogo.png" style="height:450px; float: right" alt="">
        </a>
    </div>

    <div class="col-sm-6 contProducts4b">
        <a href="/products/newS">
      <img src="/images/TKlogo.png" style="height:450px;"alt="">
    </a>
    </div>
  </div>
</div>
