<div class="container newproduct">
  <div class"row newproduct">
    <div class="col-sm-3 newproduct">

    </div>
    <div class="col-sm-6 newproduct">
      <h1>ADMIN PO Rolls LIST BY CLIENT</h1>
      <!-- <h2>NEW PURCHASE ORDER</h2> -->
      <p></p>
    </div>
    <div class="col-sm-2 newproduct">

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        </div>
      <div class="col-sm-6">
          <ul class="listR">
               <%  clientsResults.forEach((oneOrder)=>{ %>
                  <div class="bg-info pos">
            <li>
              <h4>Order Or Quote:<%= oneOrder.orderOrQuote %></h4>
              <h4>Date Created:<%= oneOrder.createdAt %> </h4>
              <h4>Client PO #: <%= oneOrder.poNumber %></h4>

              <a href="/admin-productsS/<%= oneOrder._id%>/details" class="btn btn-info">PO DETAILS</a>


          </li>
              </div>
            <%  })  %>
          </ul>
      </div>
      <div class="col-sm-4 listR imgR">
      <img src="/images/sample1.jpg" height"400" alt="">
    </div>
  </div>
</div>
</div>
