<div class="container">
  <div class="row">
    <div class="col-sm-6">

        <form class="form-horizontal" action="/signup" method="post">
          <div class="form-group">
            <label for="full-name-input" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="full-name-input" placeholder="Name" name="signupFullName">
            </div>
          </div>
          <div class="form-group">
            <label for="business-name-input" class="col-sm-2 control-label">Business</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="business-name-input" placeholder="Business Name" name="signupBusinessName">
            </div>
          </div>
          <div class="form-group">
            <label for="business-nit-input" class="col-sm-2 control-label">Nit #</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="business-nit-input" placeholder="Business Nit#" name="signupBusinessNit">
            </div>
          </div>
          <div class="form-group">
            <label for="SalesRep-input" class="col-sm-2 control-label">Sales Rep</label>
            <div class="col-sm-10">
              <select name = "signupSalesRep" class="form-control">
                <option value="JN">Javier Niño</option>
                <option value="SL">Santiago Lopez</option>
                <option value="ML">Massiel Lopez</option>
                <option value="GB">Gerardo Botero</option>
                <option value="RL">Ruben Laverde</option>
                <option value="AO">Alma Ospina</option>
                <option value="OF">Oficina</option>
              </select>
              <!-- <input type="text" class="form-control" id="SalesRep-input" placeholder="Sales Rep" name="signupSalesRep"> -->
            </div>
          </div>
          <div class="form-group">
            <label for="email-input" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email-input" placeholder="Email" name="signupEmail">
            </div>
          </div>
          <div class="form-group">
            <label for="birthday-input" class="col-sm-2 control-label">Birthday</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="birthday-input" placeholder="Birthday" name="signupBirthDay">
            </div>
          </div>
          <div class="form-group">
            <label for="password-input" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password-input" placeholder="Password" name="signupPassword">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
          </div>
        </form>

    </div>
    <div class="col-sm-5">
      <img src="/images/sample1.jpg" height"400" alt="">
    </div>
  </div>
</div>
